.footer {
    background-color: rgb(43, 44, 48);
    height: 60px;
    text-align: center;
    font-size: 25px;
    padding-top: 30px;
    margin: 0 30px;
    border-radius: 10px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.bye {
    text-align: center;
    color: white;
    font-size: 17px;
    margin: 0;
}
.bye a {
    color: white;
    text-decoration: none;
}
.bye a:hover {
    color: yellow;
}
.bye a:visited {
    color: white;
}