.nav {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-right: 35px;
    border-radius: 10px;
    background-color: white;
    padding-top: 20px;
    justify-content: start;
    align-items: flex-start;
}
.nav a {
    color: white;
    margin: 0;
    text-decoration: none;
    font-size: 18px;
    background-color: rgb(42, 111, 248);
    padding: 6px 12px;
    border-radius: 10px;
    transition: all 0.4s linear;
}
.nav a:hover {
    transform: scale(1.1);
    background-color: rgb(235, 235, 17);
    color: black;
}
.navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 30px;
}
.navIcons {
    width: 25px;
    height: 23px;
    margin-right: 10px;
}