.nav {
    color: white;
    background-color: black;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    border-radius: 10px;
    background-color: white;
    padding-top: 20px;
    justify-content: start;
    align-items: flex-start;
    height: 500px;
}
.nav a {
    
    margin: 0;
    text-decoration: none;
    font-size: 17px;
    padding: 6px 12px;
    border-radius: 10px;
    transition: all 0.4s linear;
}
.nav a:hover {
    transform: scale(1.1);
    background-color: rgb(235, 235, 17);
    color: black;
}
.navItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 12px 30px;
}
.navIcons {
    width: 25px;
    height: 23px;
    margin-right: 10px;
}
.avaImg {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.avaWrapper {
    width: 100%;
}
h2 {
    color: white;
    text-align: center;
    margin: 10px 15px;
    padding: 3px 0;
    background-color: rgb(43, 44, 48);
    border-radius: 10px;
    font-weight: 400;
}
.imgWrapper {
    width: 180px;
    height: 180px;
    margin: 0 auto;
}
.itemsWrapper {
    margin-bottom: 15px;
}
.active {
    background-color: rgb(235, 235, 17);
    color: black;
    font-weight: bold;
}
a.item {
    background-color: rgb(42, 111, 248);
    color: white;
}