.profile {
    background-color: white;
    text-align: center;
    font-size: 25px;
    border-radius: 10px;
}
.profile h2 {
    font-size: 24px;
    margin: 20px 400px;
}
.posts {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 20px auto;
    
    padding: 10px 0;
}
.text {
    font-size: 18px;
    text-align: left;
    width: 80%;
    margin: auto 10px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 15px 10px;
    background-color: rgb(128, 128, 128, 0.2);
}
.posts p {
    font-size: 20px;
}
.posts img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    margin: auto 10px;
}
.likes {
    display: flex;
    flex-direction: row;
    margin: auto 0;
}
.likes img {
    width: 25px;
    height: 25px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.4s;
}
.likes img:hover {
    transform: scale(1.2);
}
.publish {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.publish textarea {
    width: 65%;
    border-radius: 10px;
    border: 2px solid black;
    font-size: 17px;
    height: 160px;
}
.publish button {
    height: 40px;
    margin: 0 10px;
    width: 70px;
    border-radius: 10px;
    font-size: 17px;
    font-weight: 600;
    background-color: rgb(42, 111, 248);
    color: white;
    cursor: pointer;
    transition: all 0.3s linear; 
}
.publish button:hover {
    transform: scale(1.1);
    background-color: rgb(235, 235, 17);
    color: black;
}